.header-route {
    margin-right: 20px;
    color: #8e9ea1;
    text-decoration: none;
}

.header-route:hover {
  font-weight: 600;
}

.login-signup{
    background-image: url("https://wallpapershome.com/images/wallpapers/sky-3840x2160-5k-4k-wallpaper-clouds-planet-light-atmosphere-cyclone-732.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
  }

.seach-bar{
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
}




.login-signup{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
}
.sticky {
position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 900;
}
.relative  {
    position: relative;
}
.main-page {
   
    z-index: 950;
    
}

.background-image{
    height: 100%;
    width: 100vw;
    background-image:
    url("https://wallpapershome.com/images/wallpapers/sky-3840x2160-5k-4k-wallpaper-clouds-planet-light-atmosphere-cyclone-732.jpg");
    background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-repeat: no-repeat;
     }


     .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}


.height {
    height: 1000vw;
}






